---
export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/profile.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A directory to find any links for polpielladev"
    />
    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-gray-200">
    <slot />
  </body>
</html>
